:root {
  --primary-color: #eb9486;
  --secondary-color: #f3de8a;
  --third-color: #cae7b9;
  --background-gradient: linear-gradient(to top, #97a7b3, #7e7f9a);
  --text-color: #ffffff;
  --text-stroke: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
  /* max-width: 400px; */
  margin: 0;
  text-align: center;
  background: var(--background-gradient);
  color: var(--text-color);
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.logo {
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.content {
  height: fit-content;
  width: fit-content;
  position: relative;
}

h2 {
  font-size: 1.5rem;
  color: var(--text-color);
  text-shadow: var(--text-stroke);
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 2px solid var(--third-color);
  outline: 2px solid var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(
    to bottom right,
    var(--primary-color),
    var(--secondary-color)
  );
  transition: box-shadow 0.3s ease, outline 0.3s ease, outline-offset 0.3s ease;
}

.upload-form:hover {
  box-shadow: 0 0 50px var(--third-color);
  outline: 4px solid var(--primary-color);
  outline-offset: 7px;
  transition: box-shadow 0.3s ease, outline 0.3s ease, outline-offset 0.3s ease;
}

.upload-form input[type="file"] {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid var(--third-color);
  border-radius: 5px;
  background: linear-gradient(
    to left,
    var(--secondary-color),
    var(--third-color)
  );
  color: #000;
  cursor: pointer;
}

.upload-form input[type="file"]::file-selector-button {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: #000;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
  font-family: "Tektur", sans-serif;
  transition: background-color 0.3s ease;
}

.upload-form input[type="file"]::file-selector-button:hover {
  background-color: var(--primary-color);
  color: #fff;
  transition: background-color 0.3s ease;
}

.upload-form button {
  padding: 10px 20px;
  border: 2px solid var(--third-color);
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Tektur", sans-serif;
}

.upload-form button:hover {
  background-color: var(--third-color);
}

.progress-bar-container {
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin-top: 15px;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: var(--third-color);
  border-radius: 5px;
  transition: width 0.2s ease;
}

/* Spinner */
.spinner {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 4px solid #ccc;
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 0.8s linear infinite, fadeIn 0.5s ease-in-out;
  /* margin: 1.5rem auto; */
  top: calc(50% - 50px);
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#status {
  display: block;
  position: absolute;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
  bottom: -60px;
  width: fit-content;
  color: var(--text-color);
  text-shadow: var(--text-stroke);
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
